* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(27, 27, 27);
}

 .container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
} 

.card {
    background-color: white;
    outline-width: 20px;
    outline: 10px;
    outline-color: black;
    width: 220px; 
     margin: 10px; 
    border-radius: 15px;

}

.card-image {
    background-color: rgb(12, 120, 214);
    height: 150px;
    margin-bottom: 15;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.tat-1{
    background-image: url("images/img2.jpg");
}

.tat-2{
    background-image: url("images/img4.jpg");
}

.tat-3{
    background-image: url("images/img3.jpeg");
}
.card:hover {
    background-color: grey;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}